//colors

$yellow: #ffa619;
$purple: #6c3c97;
$green: #14cc56;
$grey: #555555;
$white: #ffffff;
$bg-grey: #0e0e0e;

//fonts

$text-font: 'open_sanslight', Helvetica, Arial, sans-serif;
$text-font-size: 18px;
$text-title: 'ostrich_sansmedium', Helvetica, Arial, sans-serif;
$title-font-size: 36px;