@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('../fonts/ostrichsans-medium-webfont.woff2') format('woff2'),
         url('../fonts/ostrichsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0 auto;
}

